
.logo{
    height: 4.2rem;
}

.menucontainer{
    margin: 1.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;

    &--el{
        
        &:last-child{
            margin-left: .8rem;
            
        }
    }
    
    &-link{
        text-decoration: none;
        color: $clr-black;
        font-weight: bold;
        padding: .8rem 1.6rem;
        border: 2px solid royalblue;

        &:hover{
            background-color: royalblue;
            color: antiquewhite;
        }
    }
}