// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;




// COLORS
// __________________________________________________________


$clr-black: #262524;
$clr-blue-pale: #D6E4FF;
$clr-blue-light: #ADC8FF;
$clr-green-pale: #b3a890;


$clr-black-black: #1B2021;
$clr-blue-dark: #04151F;
$clr-gold: #D7BE82;
$clr-pink: #CF649A;
$clr-grey: #DBD3C9;
$clr-success: #5AAA95;
$clr-success-hover: #417c6c;
$clr-danger: #A63A50;
$clr-danger-hover: #792d3d;
$clr-pale-white: #F6F4F2;

